.box {
    border: 2px solid black;
    height: 200px;
}

#title {
    margin-top: 100px;
}

.number {
    font-size: 100px;
}

.reload {
    display: none;
    width: 100px;
    margin-top: 100px;
}

